{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form action="{{ url_for('accounts.login_with_provider', provider=form._provider, next=next_url) }}"
                 :check-dirty="false"
                 @submit="submitShib">
  {{ render_csrf() }}

  <select-field :field="{{ form.idp }}"
                :enable-search="true"
                search-placeholder="{% trans %}Please select your institution{% endtrans %}"
                @select="selectedIdp = $event"
                ref="idpSelection">
  </select-field>
  <div class="d-flex justify-content-between">
    <submit-field :field="{{ form.submit }}"></submit-field>
    <div class="form-check form-check-inline">
      <input id="save-selection" type="checkbox" class="form-check-input" v-model="saveIdp">
      <label for="save-selection" class="form-check-label">{% trans %}Save selection{% endtrans %}</label>
    </div>
  </div>
</submission-form>
