{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="login">
  <strong>{% trans %}Login{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    There are various possible ways to log in to Kadi4Mat. Each Kadi4Mat instance may have one or more authentication
    providers registered, which are briefly described below.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Credentials{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      This method of authentication uses separate accounts local to a specific Kadi4Mat instance. The credentials of
      each user consist of the respective username and password. Depending on the configuration of an instance,
      registration of new accounts may or may not be enabled.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">Shibboleth</dt>
  <dd class="col-xl-10">
    {% trans %}
      Shibboleth allows logging in using an existing account of a user's home institution. Each institution needs to be
      enabled separately in a Kadi4Mat instance. Note that some institution's identity providers may not release all
      required user attributes to Kadi4Mat by default. In this case, the administrator of the Shibboleth identity
      provider may need to be contacted.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">LDAP</dt>
  <dd class="col-xl-10">
    {% trans %}
      LDAP also allows logging in using existing user accounts residing in a specific LDAP installation, e.g. in an
      Active Directory. This method of authentication is not necessarily tied to any specific institution.
    {% endtrans %}
  </dd>
</dl>
