{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_link_collection = has_permission(current_user, "link", "collection", collection.id) %}

<a href="{{ url_for('collections.manage_links', id=collection.id) }}"
   class="btn btn-sm btn-primary my-1{% if not can_link_collection %} disabled{% endif %}">
  <i class="fa-solid fa-link"></i> {% trans %}Manage links{% endtrans %}
</a>
<hr>
<resource-view title="{% trans %}Child collections{% endtrans %}"
               placeholder="{% trans %}No collections.{% endtrans %}"
               endpoint="{{ url_for('api.get_child_collections', id=collection.id) }}">
</resource-view>
<hr>
<resource-view title="{% trans %}Records{% endtrans %}"
               placeholder="{% trans %}No records.{% endtrans %}"
               :endpoint="kadi.context.get_records_endpoint">
</resource-view>
