{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "sysadmin/base.html" %}

{% block content %}
  <div class="card">
    {% include "sysadmin/snippets/menu.html" %}

    <div class="card-body">
      <div class="mb-2">
        <strong>{% trans %}Kadi4Mat version{% endtrans %}</strong>
      </div>
      <div class="card mb-4">
        <div class="card-body py-2">
          <div class="row">
            <div class="col-md-7">
              <a href="{{ const.URL_RTD_STABLE }}/HISTORY.html"
                 target="_blank"
                 rel="noopener noreferrer">
                <strong>v{{ version }}</strong>
              </a>
            </div>
            <div class="col-md-5 d-md-flex justify-content-end">
              <div v-if="latestVersionInitialized">
                <div v-if="latestVersion !== null">
                  <div v-if="latestVersion === '{{ version }}'">
                    <i class="fa-solid fa-check"></i>
                    <strong>{% trans %}Latest version{% endtrans %}</strong>
                  </div>
                  <div v-else>
                    <a href="{{ const.URL_RTD_STABLE }}/installation/production/updating.html"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-solid fa-circle-info"></i>
                      <strong>{% trans %}Update available{% endtrans %} (v{$ latestVersion $})</strong>
                    </a>
                  </div>
                </div>
                <div v-else>
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <strong>{% trans %}Could not retrieve latest version{% endtrans %}</strong>
                </div>
              </div>
              <div v-else>
                <i class="fa-solid fa-circle-notch fa-spin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <strong>{% trans %}Usage statistics{% endtrans %}</strong>
      </div>
      <ul class="list-group">
        {% snippet "stat", title=_("Amount of active users"), value=stats["num_users"] %}
        {% snippet "stat", title=_("Amount of active records"), value=stats["num_records"] %}
        {% snippet "stat", title=_("Amount of active collections"), value=stats["num_collections"] %}
        {% snippet "stat", title=_("Amount of active templates"), value=stats["num_templates"] %}
        {% snippet "stat", title=_("Amount of active groups"), value=stats["num_groups"] %}
        {% snippet "stat", title=_("Amount of active files"), value=stats["num_files"] %}
        {% snippet "stat", title=_("Size of locally stored files"), value=stats["local_file_size"] %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        latestVersion: null,
        latestVersionInitialized: false,
      },
      mounted() {
        axios.get(kadi.context.get_latest_version_endpoint)
          .then((response) => this.latestVersion = response.data.latest_version)
          .finally(() => this.latestVersionInitialized = true);
      },
    });
  </script>
{% endblock %}
