{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.view_record", id=record.id, tab="permissions"), title=record.title %}
  {% snippet "breadcrumb", url=url_for("records.manage_permissions", id=record.id), title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_record", _module="records", record=record, tab="permissions" %}

  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ form.csrf_token }}

        <roles-field users-endpoint="{{ url_for('api.select_users') }}"
                     groups-endpoint="{{ url_for('api.select_groups') }}"
                     :user-request-params="{resource_type: 'record', resource_id: {{ record.id }}}"
                     :group-request-params="{resource_type: 'record', resource_id: {{ record.id }}}"
                     :field="{{ form.roles }}">
        </roles-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <roles-popover :roles="{{ get_object_roles('record') | tojson_escaped }}"></roles-popover>
        </div>
      </submission-form>
      <hr>
      <resource-roles-editor title="{% trans %}User roles{% endtrans %}"
                             placeholder="{% trans %}No users.{% endtrans %}"
                             endpoint="{{ url_for('api.get_record_user_roles', id=record.id,
                                                  exclude=[record.user_id]) }}"
                             :roles="{{ get_object_roles('record') | tojson_escaped }}">
      </resource-roles-editor>
      <hr>
      <resource-roles-editor title="{% trans %}Group roles{% endtrans %}"
                             placeholder="{% trans %}No groups.{% endtrans %}"
                             endpoint="{{ url_for('api.get_record_group_roles', id=record.id) }}"
                             :roles="{{ get_object_roles('record') | tojson_escaped }}">
      </resource-roles-editor>
    </div>
  </div>
{% endblock %}
